@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: rgb(43, 131, 207);
}
.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(43, 131, 207);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.home hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, transparent, gray, transparent);
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 10px;
}

.trip-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #f6efef;
  text-align: left;
}

.trip-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.trip-preview h2 {
  font-size: 20px;
  color: #27db6f;
  margin-bottom: 8px;
}

.trip-preview a {
  text-decoration: none;
}

.trip-all-basic-info {
  display: flex;
  justify-content: space-between;
}

.trip-all-basic-info img {
  width: 15%; 
  height: auto;
  margin-left: 20px; 
  border: 0.5px solid black;
}


/* Trip Details  */
article {
  line-height: 2;
  text-align: left;
}
.trip-details h2 {
  font-size: 20px;
  color: rgb(43, 131, 207);
  margin-bottom: 10px;
}
.trip-details div {
  margin: 20px 0;
}
.trip-details button {
  background: rgb(43, 131, 207);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.trip-detail-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.single-trip-event-display {
  border-bottom: 1px solid #f6efef;
  padding: 0;
  border-radius: 8px;
}
.event-button {
  width: 100%;
  text-align: left;
  border: none;
  background-color: transparent !important;
  color: #333333 !important;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  font-weight: 300;
  outline: none;
  transition: all 0.5s;
}
.event-button:hover {
  cursor: pointer;
  background-color: grey !important;
  color: #ffffff !important;
}
#event-content-display-tag {
  padding-left: 2%;
}
.all-basic-detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This will center the image vertically */
}
.all-basic-detail-info img {
  width: 30%; 
  height: auto;
  margin-left: 20px; 
  border: 0.5px solid black;
}


/* Create-Edit Trip Form */
.create-edit-form {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create-edit-form label {
  text-align: left;
  display: block;
}
.create-edit-form h2 {
  font-size: 20px;
  color: rgb(43, 131, 207);
  margin-bottom: 30px;
}
.create-edit-form input, .create-edit-form textarea, .create-edit-form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create-edit-form button {
  background: rgb(43, 131, 207);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.datepicker {
  width: 100%;
}
.create-edit-form hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, transparent, gray, transparent);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.new-event {
  border-bottom: 1px solid #f6efef;
}
textarea, input {
  border-radius: 10px;
  background-color: #dddddd;
  color: #666666;
  border: 1px solid transparent;
  padding: 1em;
  outline: none;
  font-weight: 500;
  line-height: 1.5;
  transition: all 0.2s
}
textarea:hover ,input:hover {
  cursor: pointer;
  background-color: #eeeeee;  
}
textarea:focus, input:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}
textarea {
  resize: vertical; 
  overflow-y: auto;
}

/* Search Bar */
.all-home-search {
  display: flex;
  align-items: center;
}
.search-container {
  max-width: 300px;
  height: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: all 0.5s;
  border-radius: 8px;
}
.search-container:hover {
  cursor: pointer;
}
#search-input {
  background-color: transparent;
  border: none;
  width: 500px;
}
